employee-ws-api/src/main/resources/xsdSchema/deleteEmployee-v1_0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.rsingal-dev.com/employee/v1_0/deleteemployee" version="1.0">

  <xs:element name="deleteEmployeeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="employeeId" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="deleteEmployeeResponse">
    <xs:complexType>
      <xs:all/>
    </xs:complexType>
  </xs:element>
</xs:schema>
