employee-ws-api/src/main/resources/com/rsingal/employee/xsdSchema/createEmployee-v1_0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.rsingal-dev.com/employee/v1_0/createemployee" version="1.0">

  <xs:element name="createEmployeeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="age" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="createEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="employeeId" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
